* {
  margin: 0px;
  box-sizing: border-box;
}

.parent {
  background-color: rgb(3, 24, 182);
  width: 60%;
  /* height: 500px; */
  margin: auto;
  display: grid;
  /* grid-template-columns: 200px 250px 200px 200px; */
  /* grid-template-columns: 1fr 1fr 3fr; */
  grid-template-columns: repeat(3, 150px);

  /* grid-template-rows: 100px 200px 150px; */
  /* grid-template-rows: 200px 100px; */
  /* grid-auto-rows: 200px; */
  grid-auto-rows: minmax(200px, auto);

  /* grid-column-gap: 10px;
  grid-row-gap: 30px; */
  grid-gap: 20px;

  grid-template-areas:
    "header header header"
    "section section none"
    "element1 element2 none";
}

.box1 {
  background-color: rgb(46, 171, 171);
  grid-area: header;
}

.box2 {
  background-color: rgb(52, 171, 46);
  grid-area: section;
}

.box3 {
  background-color: rgb(84, 146, 17, 0.4);
  grid-area: none;
}

.box4 {
  background-color: rgb(155, 176, 101);
  grid-area: element1;
}
.box5 {
  background-color: rgb(2, 52, 46);
  grid-area: element2;
}
.box6 {
  background-color: rgb(112, 22, 22);
}

.box7 {
  background-color: rgb(255, 15, 15);
}
