.box {
  width: 150px;
  height: 150px;
  /* float: left; */
  float: right;
}

.box1 {
  background-color: aqua;
  /* float: left; */
}
.box2 {
  background-color: rgb(13, 255, 0);
  /* float: left; */
}
.box3 {
  background-color: rgb(11, 44, 44);
  /* clear: both; */
}
.box4 {
  background-color: rgb(111, 0, 255);
  /* clear: both; */
}
.box5 {
  background-color: rgb(255, 0, 0);
}
.box6 {
  background-color: rgb(255, 0, 208);
}
.box7 {
  background-color: rgb(53, 73, 73);
}
