#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.hotels {
  margin: auto;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.app {
  width: 100vw;
}

.read-the-docs {
  color: #888;
}
