* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.parent {
  margin: auto;
  background-color: rgb(6, 27, 113);
  width: 500px;
  height: 500px;
}

.child {
  width: 50%;
  height: 50%;
  background-color: #036c5e;
  /* animation: left-to-right 2s ease-in-out 0.1s forwards infinite alternate; */
}

.parent:hover .child {
  /* transition: transform 1s ease-in-out; */
  /* animation: left-to-right 1s ease-in-out 0.1s forwards 3 alternate; */
  animation: left-to-right 2s ease-in-out 0.1s forwards infinite alternate;
  /* animation-play-state: paused; */
}

@keyframes left-to-right {
  20% {
    transform: translate(100%, 0);
    background-color: rgb(221, 255, 0);
  }
  40% {
    transform: translate(50%, 50%);
    background-color: rgb(221, 255, 0);
  }
  60% {
    transform: translate(100%, 100%);
    background-color: rgb(221, 255, 0);
  }
  80% {
    transform: translate(0, 100%);
    background-color: lawngreen;
  }
  100% {
    transform: translate(0, 0%);
    background-color: rgb(147, 133, 248);
  }
}
